<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/layout :: head('Quên mật khẩu')}"></head>
<body>

<div class="auth-page">
    <div class="auth-card">
        <form th:action="@{/forgot-password}" method="post">
            <h1>Quên mật khẩu</h1>

            <div th:if="${errorMessage}" class="alert error" th:text="${errorMessage}"></div>

            <label>Email</label>
            <input type="email" name="email" required>

            <div class="mt">
                <button class="button full">Gửi OTP</button>
            </div>
        </form>

        <p class="mt" style="text-align: center;">
            <a th:href="@{/login}">Quay lại Login</a>
        </p>
    </div>
</div>

</body>
</html>
